/target
/assets-unused
Cargo.lock
.idea
.assets_db
.DS_store
/demo/assets/private
/demo/art/private
/demo/assets_unprocessed/private
/demo/art/bistro/**
/demo/assets/bistro/*/*
/rafx-plugins/processed_shaders/**
/demo-editor/data/
