(
    pipeline_layout: (
        descriptor_set_layouts: [
            (
                descriptor_set_layout_bindings: [
                    (
                        binding: 0,
                        descriptor_type: SAMPLER,
                        descriptor_count: 0,
                        stage_flags: VERTEX,
                    ),
                    (
                        binding: 0,
                        descriptor_type: SAMPLER,
                        descriptor_count: 0,
                        stage_flags: VERTEX,
                    ),
                ],
            ),
            (
                descriptor_set_layout_bindings: [
                    (
                        binding: 0,
                        descriptor_type: SAMPLER,
                        descriptor_count: 0,
                        stage_flags: VERTEX,
                    ),
                ],
            ),
        ],
        push_constant_ranges: [],
    ),
    renderpass: (
        attachments: [],
        subpasses: [],
        dependencies: [],
    ),
    fixed_function_state: (
        vertex_input_state: (
            binding_descriptions: [],
            attribute_descriptions: [],
        ),
        input_assembly_state: (
            primitive_topology: POINT_LIST,
            primitive_restart_enable: false,
        ),
        viewport_state: (
            viewports: [],
            scissors: [],
        ),
        rasterization_state: (
            depth_clamp_enable: false,
            rasterizer_discard_enable: false,
            polygon_mode: Fill,
            cull_mode: None,
            front_face: CounterClockwise,
            depth_bias_enable: false,
            depth_bias_constant_factor: 0,
            depth_bias_clamp: 0,
            depth_bias_slope_factor: 0,
            line_width: 0,
        ),
        multisample_state: (
            rasterization_samples: SampleCount1,
            sample_shading_enable: false,
            min_sample_shading: 0,
            sample_mask: [],
            alpha_to_coverage_enable: false,
            alpha_to_one_enable: false,
        ),
        color_blend_state: (
            logic_op_enable: false,
            logic_op: CLEAR,
            attachments: [],
            blend_constants: (0, 0, 0, 0),
        ),
        dynamic_state: (
            dynamic_states: [],
        ),
    ),
    pipeline_shader_stages: (
        stages: [],
    ),
)